
.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse > ul {
    display: inline-block;
    float: none;
}


.menu-item {
    font-size: 24px; 
    text-align: center;
    margin: 20px 0; 
}

.content-section {
    min-height: 1000px;
    background-color: #f0f0f0;
}

.navbar {
    margin-bottom: 20px;
}

.back-to-top {
    display: block;
    text-align: center;
    margin: 20px 0; 
    text-decoration: none; 
    
}